.App {
  text-align: center;
  background-color: yellow;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  text-align: center;
  justify-content: center;
  font-size: calc(13px + 2vmin);
  padding-top: 2vh;
  height: 8vh;
  min-width: 100vh;
  color: navy;
  font-family: "Arial Black", Gadget, sans-serif;
}

.App-link {
}

.column {
  text-align: center;
  background-color: pink;
  height: 80vh;
  width: 50%;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8vh;
  background-image: url("http://www.clker.com/cliparts/9/9/7/2/11949837802045456413clipboard_01.svg.hi.png");
  background-repeat: no-repeat;
  background-size: 55vh;
  background-position: center;
}

.Right-column {
  /* color: #61dafb; */
  text-align: center;
  background-color: green;
  height: 80vh;
  width: 50%;
  /* float: right; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
}
.content-grid{
  width: 100%;
  margin: 5vh;
}

.word-card{
  /* justify-content: center; */
  max-height: 20vh;
  border-radius: 30%;
  /* size: 110%; */
}



.end-game-div {
  /* border: 1px solid #000; */
  position: relative;
}

.end-game-background {
  height: 65vh;
  /* border: 1px solid #f00; */
  position: relative;
  z-index: 1;
}

.end-game-sticker {
  /* border: 1px solid #0f0; */
  max-height: 15vh;
  position: absolute;
  z-index: 1;
  top: 45vh;
  left: 80vh;
  border-radius: 50%;
}
